<a href="https://colab.research.google.com/github/forevrreshmy1987/ICTAK/blob/main/python_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("enter the radius of the circle")

r = float (input())
area = 3.14*r*r
print ("area of the circle",area)

enter the radius of the circle
3.4
area of the circle 36.2984

In [ ]:
print ("Enter the name: ",end='')
name = str(input())
print ("Enter the roll number:",end='')
rollno = int(input())
print ("Enter the mark:",end='')
mark = float(input())

print ("Name:",name)
print ("Rollno:",rollno)
print ("Mark:",mark)

Enter the name: poornima
Enter the roll number:33
Enter the mark:34
Name: poornima
Rollno: 33
Mark: 34.0

In [ ]:
#for receiving input from a user and split it among v1 to v4 int variables
v1, v2, v3, v4 = [int(x) for x in input ("enter 4 numbers: ").split(',')]
print ("largest number=",max(v1,v2,v3,v4))

enter 4 numbers: 44,66,88,100
largest number= 100

In [ ]:
startno= 1
endno=10
for i in range (startno,endno+1):
    print ("current number is:",startno)
    prevno= startno-1
    print ("previous number is:",prevno)
    sumno= startno+prevno
    startno+=1
    print ("sum is:",sumno)

current number is: 1
previous number is: 0
sum is: 1
current number is: 2
previous number is: 1
sum is: 3
current number is: 3
previous number is: 2
sum is: 5
current number is: 4
previous number is: 3
sum is: 7
current number is: 5
previous number is: 4
sum is: 9
current number is: 6
previous number is: 5
sum is: 11
current number is: 7
previous number is: 6
sum is: 13
current number is: 8
previous number is: 7
sum is: 15
current number is: 9
previous number is: 8
sum is: 17
current number is: 10
previous number is: 9
sum is: 19

In [ ]:
import numpy as np
x = np.arange(1,20)
print (x[:])
for i in range(len(x)):
  if x[i] % 5 == 0:
     print(x[i])
  else:
     print("not divisible by 5",x[i])

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
not divisible by 5 1
not divisible by 5 2
not divisible by 5 3
not divisible by 5 4
5
not divisible by 5 6
not divisible by 5 7
not divisible by 5 8
not divisible by 5 9
10
not divisible by 5 11
not divisible by 5 12
not divisible by 5 13
not divisible by 5 14
15
not divisible by 5 16
not divisible by 5 17
not divisible by 5 18
not divisible by 5 19

In [ ]:
import numpy as np
print("enter any number")
s = int(input())
#s=
flagp=0
for i in  range(2,s,1):
   print(i)
   if s % i == 0 and flagp == 1:
    break
   else:
    print("prime numer",s)
    flagp=1
    break

enter any number
17
2
prime numer 17

In [ ]:
lst = [2,3,7,11,13,15,17]
print (lst)
lst.sort(reverse=True)
print (lst)
#s=

[2, 3, 7, 11, 13, 15, 17]
[17, 15, 13, 11, 7, 3, 2]

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print('* ',end='')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
print("enter the numbers")
lst = [int(x) for x in input().split(',')]
print(max(lst))

enter the numbers
10,20,30,40
40

In [ ]:
max=1
if max<=5:
 for i in range(1,6):
  for j in range(1,i+1):
    print('* ',end='')
    max+=1
    print("max",max)
    if max == 5:
      break
elif max==5:
  print("inside second loop")
  x=max-1
  for i in range(x,-1):
        print("i",i)
        j=i+1
        for j in range(j,i-1):
          print("j",j)
          print('* ',end='')
          break
print()

* max 2
* max 3
* max 4
* max 5
* max 6
* max 7
* max 8
* max 9
* max 10
* max 11
* max 12
* max 13
* max 14

In [ ]:
n=5
for i in range(n):
  for j in range(i):
    print('* ',end='')
  print()
for i in range(n, 0, -1):
    for j in range(i):
      print('* ',end='')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*